<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.addRandomUser()">Add new random user</button>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4" ng-repeat="currentUser in main.usersList | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-show="!currentUser.isFired" ng-click="main.saveIsFired(currentUser)" ng-src="assets/images/close_red.png" alt="close_red.png">
        <div class="caption">
          <h3>{{ currentUser.name }} {{ currentUser.surname }}</h3>
          <p>{{ currentUser.addDate | date:'dd-MM-yyyy' }} / {{ currentUser.delDate | date:'dd-MM-yyyy' }}</p>
          <span class="label label-danger" ng-show="currentUser.isFired">Fired</span>
          <button type="button" ng-show="!currentUser.isFired" ng-click="main.saveFreeDays(currentUser)" class="btn btn-success btn-xs btn-block">Add {{currentUser.dt | date:'fullDate' }}</button>
        </div>
        <div class="calendar">
          <div uib-datepicker ng-model="currentUser.dt" class="well well-sm" datepicker-options="currentUser.calendarOptions"></div>
        </div>
      </div>
      <pre class="animated infinite" ng-class="main.classAnimation">Date: <em>{{currentUser.dt | date:'fullDate' }}</em></pre>
    </div>
  </div>

</div>
