<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <canvas id="bar" class="chart chart-bar" chart-options="stat.options" chart-data="stat.globalData" chart-labels="stat.globalLabels" chart-series="stat.globalSeries">
    </canvas>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6" ng-repeat="iUser in stat.usersList | orderBy:'rank'">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ iUser.name }} {{ iUser.surname }}</h3>
          <p>{{ iUser.addDate | date:'dd-MM-yyyy' }} / {{ iUser.delDate | date:'dd-MM-yyyy' }}</p>
          <span class="label label-danger" ng-show="iUser.isFired">Fired</span>
        </div>
        <canvas class="chart chart-bar" chart-data="iUser.data" chart-labels="iUser.labels" chart-series="stat.userSeries">
        </canvas>
      </div>
    </div>
  </div>

</div>
